@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    user-select: none;
    -webkit-user-select: none;
  }
}

.glow-pyr {
  box-shadow: 0 0 15px rgba(239, 68, 68, 0.4), inset 0 0 10px rgba(239, 68, 68, 0.2);
}

.glow-aqua {
  box-shadow: 0 0 15px rgba(6, 182, 212, 0.4), inset 0 0 10px rgba(6, 182, 212, 0.2);
}

.glow-terra {
  box-shadow: 0 0 15px rgba(16, 185, 129, 0.4), inset 0 0 10px rgba(16, 185, 129, 0.2);
}

.glow-nox {
  box-shadow: 0 0 15px rgba(168, 85, 247, 0.4), inset 0 0 10px rgba(168, 85, 247, 0.2);
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #0f1016;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #2b2e46;
  border-radius: 3px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #3f4468;
}
